<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariadne Implementation Test Suite</title>
    <style>
        body {
            font-family: sans-serif;
        }
        main {
            width: 100%;
            max-width: 720px;
            margin: 0 auto 32px;
        }
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-rows: minmax(32px, auto);
        }
        .grid .header {
            position: relative;
        }
        .grid .header span {
            position: absolute;
            width: 200px;
            right: 0;
            bottom: 0;
            transform-origin: bottom right;
            rotate: 45deg;
            translate: -18px -4px;
            text-align: right;
        }
        .result {
            display: flex;
            align-items: stretch;
            gap: 16px;
            min-height: 32px;
        }
        .result .symbol {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 100%;
            color: #fff;
            font-weight: bold;
            font-size: 1.4rem;
        }
        .result .symbol.symbol--success {
            background-color: #479438;
        }
        .result .symbol.symbol--fail {
            background-color: #d6705c;
        }
        .description {
            display: flex;
            align-items: center;
            padding-left: 8px;
        }
        .description--underline {
            border-top: 1px solid #ccc;
        }
        .subtle {
            color: #666;
        }
        pre {
            padding: 4px;
            background-color: #eee;
            overflow-x: scroll;
        }
    </style>
</head>
<body>

    <main>
        <h1>Ariadne Implementation Test Suite</h1>

        <p>Report generated on: {{ now() | date(format="%Y-%m-%d %H:%M:%S", timezone="UTC") }} (UTC)</p>
        <p>This report tests implementations of the Ariadne Spec against real data and accounts to measure their compliance with the specification.</p>
        <p>Note: the Ariadne Spec is currently being worked on and not ready for implementing. The doip.js library temporarily "defines" the specification.</p>
        <p><a href="https://codeberg.org/keyoxide/ariadne-implementation-test-suite">Source code</a></p>

        <h2>Libraries tested</h2>
        {% for driver in drivers %}
        <p>
            Library: {{ driver.name }}
            <br>
            Version: {{ driver.version }}
            <br>
            Website: <a href="{{ driver.website }}">{{ driver.website }}</a>
        </p>
        {% endfor %}

        <h2>Proof formats support</h2>
        <p>Command: <code>verify-claim URL FINGERPRINT</code></p>

        <div class="grid">
            {% for driver in drivers %}
            <div class="header" style="grid-column: {{ loop.index + 1 }}; grid-row: 1">
                <span>{{ driver.name }}</span>
            </div>
            {% endfor %}

            {% for driver in drivers %}
            {% set driver_index = loop.index %}
            {% set driver_first = loop.first %}

            {% for proof_format in driver.proof_formats %}
            {% set proof_format_index = loop.index %}

            {% if driver_first %}
            <div class="description {% if proof_format_index > 1 %}description--underline{% endif %}" style="grid-column: {{ driver_index }}; grid-row: {{ proof_format_index + 1 }}">
                <span>{{ proof_format.name }}</span>
            </div>
            {% endif %}

            <div class="result" style="grid-column: {{ driver_index + 1 }}; grid-row: {{ proof_format_index + 1 }}">
                {% if proof_format.claim.succeeded %}
                <div class="symbol symbol--success">✓</div>
                {% else %}
                <div class="symbol symbol--fail">✗</div>
                {% endif %}
            </div>
            {% endfor %}

            {% endfor %}
        </div>

        <h2>Service providers support</h2>
        <p>Command: <code>verify-claim URL FINGERPRINT</code></p>

        <div class="grid">
            {% for driver in drivers %}
            <div class="header" style="grid-column: {{ loop.index + 1 }}; grid-row: 1">
                <span>{{ driver.name }}</span>
            </div>
            {% endfor %}

            {% for driver in drivers %}
            {% set driver_index = loop.index %}
            {% set driver_first = loop.first %}

            {% for claim in driver.claims %}
            {% set claim_index = loop.index %}

            {% if driver_first %}
            <div class="description {% if claim_index > 1 %}description--underline{% endif %}" style="grid-column: {{ driver_index }}; grid-row: {{ claim_index +1 }}">
                <span>
                    {{ claim.name }}
                    {% if claim.variant_name %}
                    <span class="subtle">[{{ claim.variant_name }}]</span>
                    {% endif %}
                    {% if claim.positive %}
                    <span class="subtle">(positive)</span>
                    {% else %}
                    <span class="subtle">(negative)</span>
                    {% endif %}
                </span>
            </div>
            {% endif %}

            <div class="result" style="grid-column: {{ driver_index + 1 }}; grid-row: {{ claim_index + 1 }}">
                {% if claim.succeeded %}
                <div class="symbol symbol--success">✓</div>
                {% else %}
                <div class="symbol symbol--fail">✗</div>
                {% endif %}
            </div>
            {% endfor %}

            {% endfor %}
        </div>

        <h2>Configuration</h2>
        <pre>{{config}}</pre>
    </main>

</body>
</html>